<nav class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BUDKA SPLIT</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/signup']"
              aria-current="page"
              *ngIf="!isLogged"
              >SIGNUP</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/login']"
              aria-current="page"
              *ngIf="!isLogged"
              >LOGIN</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/myposts']"
              aria-current="page"
              *ngIf="isLogged"
              >MyPosts</a
            >
          </li>
          <li>
            <button class="btn btn-danger" (click)="logout()" *ngIf="isLogged">
              Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
