<nav class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ userName }}</a>

    <button
      mat-mini-fab
      color="primary"
      aria-label="Example icon button with a menu icon"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <mat-icon id="materialIcon">menu</mat-icon>
    </button>

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <mat-icon
            mat-icon-button
            color="primary"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>home</mat-icon>
          </mat-icon>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/signup']"
              aria-current="page"
              *ngIf="!isLogged"
              >Signup</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/login']"
              aria-current="page"
              *ngIf="!isLogged"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/profile']"
              aria-current="page"
              *ngIf="isLogged"
              >Profile</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/myposts']"
              aria-current="page"
              *ngIf="isLogged"
              >MyPosts</a
            >
          </li>
          <li class="nav-item">
            <a
              aria-current="page"
              class="nav-link active"
              (click)="logout()"
              *ngIf="isLogged"
            >
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
